<!DOCTYPE html>
<html>
  <head>
    <title>Jovian Careers</title>
    <style>
      h1 {
        font-size: 40px;
        font-family: Roboto;
        font-weight: normal;
        color: rgb(100, 100, 100);
       text-aligncenterr;
      }
      #banner {
        
      }
    </style>
      <link rel="icon" type="image/png" href="konoha.png"/>
  </head>
  <body>
    <h1>Gratijohn Careers</h1>
    <img id="banner" src="https://jovian-careers-website-1.johnhypnosisbr.repl.co/static/banner.jpg" height="320">
    <h2>Your #1 source of fulfillment</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id suscipit dui. Aliquam a tortor vestibulum, euismod libero nec, fringilla massa. Integer fermentum viverra sem ut volutpat. Ut at convallis justo, a dapibus justo. Quisque et justo sit amet diam suscipit interdum vitae vel lorem. Nunc ornare mauris scelerisque auctor placerat. Nullam a faucibus nisi. Duis a fringilla diam, et porttitor lorem. Suspendisse quis bibendum lorem, eu maximus est. Etiam vitae lorem auctor, pretium nisi sit amet, hendrerit sem. Duis nec libero quis leo ultrices faucibus scelerisque ac arcu.
    </p>
    <h2>Open Positions</h2>
    <p>TODO - Show the jobs</p>
    <button>Contact Us</button>
  </body>
</html>